@font-face {
  font-family: "Ostrich Subtitles";
  src: url("/fonts/ostrich/ostrich-subtitles.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/alegreya-sans/alegreya-sans-latin-400-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Ek Mukta';
  src: url('/fonts/ek-mukta/mukta-latin-400-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
